*{
    text-align: center;
    background-color: aqua;

}
body{
    display: inline;
    margin-block-end: auto;
    

}
nav{
    display: block;
    background-color: blueviolet;
}

.container{
    margin: 2rem auto 7rem;
     width: 50vw;
   display: flex;
   flex-direction: column;
    
    border-radius: 5%;
    padding: 1rem 2rem 5rem 2rem;


}
label{
   width:2 rem;
  
   
 
}
    

.about{
    color:brown;
}
